[submodule "external/basil"]
	path = external/basil
	url = https://github.com/SiLab-Bonn/basil
[submodule "external/pybind11"]
    path = external/pybind11
    url = https://github.com/pybind/pybind11
[submodule "external/yaml-cpp"]
    path = external/yaml-cpp
    url = https://github.com/jbeder/yaml-cpp
